layout {

    focus-ring {
        active-color   "#ffb870"
        inactive-color "#131313"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#ffb870"
        inactive-color "#131313"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#ffb870"
        inactive-color "#693c00"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#ffb87080"
    }
}

recent-windows {
    highlight {
        active-color "#ffb870"
        urgent-color "#ffb4ab"
    }
}
