// ────────────── Startup Applications ──────────────
// https://github.com/YaLTeR/niri/wiki/Configuration:-Miscellaneous#spawn-sh-at-startup

spawn-sh-at-startup "/usr/lib/polkit-kde-authentication-agent-1 &" // Polkit
spawn-at-startup "qs" "-c" "noctalia-shell"

spawn-at-startup "ghostty"
spawn-at-startup "brave"
spawn-at-startup "discord"
spawn-at-startup "steam"

// Youtube Music
spawn-sh-at-startup "sleep 1 && /opt/brave-bin/brave --app-id=cinhimbnkkaeohfgghhklpknlkffjgod"

// Whatsapp Webapp
spawn-sh-at-startup "sleep 2 && /opt/brave-bin/brave --app-id=hnpfjngllnobngcgfapefoaidbinmjnm"

