
binds {
    // ────────────── Keybindings ──────────────
    // https://github.com/YaLTeR/niri/wiki/Configuration:-Key-Bindings

    // ─── noctalia-shell keybinds ───
    // https://docs.noctalia.dev/getting-started/keybinds/
    
    // ─── Emergency Escape Key ───
    // Use this when a fullscreen app blocks your keybinds.
    // It disables any active keyboard shortcut inhibitor, restoring control.
    Mod+ESCAPE                          allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

    Mod+Shift+ESCAPE                    { show-hotkey-overlay; }
    ALT+Delete                          { quit; }
    Mod+Shift+P                         { power-off-monitors; }
    Mod+Return                          hotkey-overlay-title="Open App Launcher: noctalia launcher" { spawn-sh "qs -c noctalia-shell ipc call launcher toggle"; }
    Mod+Backspace                       hotkey-overlay-title="Session Menu: noctalia sessionMenu" { spawn-sh "qs -c noctalia-shell ipc call sessionMenu toggle"; }


    // ─── Applications ───
    Mod+Shift+T                         hotkey-overlay-title="Open: Terminal" { spawn "ghostty"; }
    Mod+Shift+B                         hotkey-overlay-title="Open: Browser" { spawn "brave"; }
    Mod+Shift+E                         hotkey-overlay-title="Open: File Manager" { spawn "nautilus"; }
    Mod+Shift+D                         hotkey-overlay-title="Open: Discord" { spawn "discord"; }
    Mod+Shift+M                         hotkey-overlay-title="Toggle View: Music" { spawn-sh "ns.py -id brave-cinhimbnkkaeohfgghhklpknlkffjgod-Default"; }
    Mod+Shift+N                         hotkey-overlay-title="Toogle View: PiP" { spawn-sh "ns.py -t 'Picture in picture' -nf"; }


    // ─── Audio Controls ───
    XF86AudioRaiseVolume                allow-when-locked=true { spawn-sh "qs -c noctalia-shell ipc call volume increase"; }
    XF86AudioLowerVolume                allow-when-locked=true { spawn-sh "qs -c noctalia-shell ipc call volume decrease"; }
    XF86AudioMute                       allow-when-locked=true { spawn-sh "qs -c noctalia-shell ipc call volume muteOutput"; }
    XF86AudioMicMute                    allow-when-locked=true { spawn-sh "qs -c noctalia-shell ipc call volume muteInput"; }


    // ─── Window Movement and Focus ───
    Mod+Shift+Q                         { close-window; }

    Mod+H                               { focus-column-left; }
    Mod+L                               { focus-column-right; }
    Mod+K                               { focus-workspace-up; }
    Mod+J                               { focus-workspace-down; }

    Mod+Left                            { move-column-left; }
    Mod+Right                           { move-column-right; }
    Mod+Up                              { move-column-to-workspace-up; }
    Mod+Down                            { move-column-to-workspace-down; }


    // ─── Workspace Switching ───
    Mod+WheelScrollDown                 cooldown-ms=150 { focus-workspace-down; }
    Mod+WheelScrollUp                   cooldown-ms=150 { focus-workspace-up; }
    Mod+CTRL+WheelScrollDown            cooldown-ms=150 { move-column-to-workspace-down; }
    Mod+CTRL+WheelScrollUp              cooldown-ms=150 { move-column-to-workspace-up; }

    Mod+WheelScrollRight                { focus-column-right; }
    Mod+WheelScrollLeft                 { focus-column-left; }
    Mod+CTRL+WheelScrollRight           { move-column-right; }
    Mod+CTRL+WheelScrollLeft            { move-column-left; }

    Mod+Q                               { focus-workspace "dev"; }
    Mod+W                               { focus-workspace "web"; }
    Mod+E                               { focus-workspace "chat"; }
    Mod+R                               { focus-workspace "gaming"; }
    Mod+T                               { focus-workspace 5; }

    Mod+CTRL+Q                          { move-column-to-workspace "dev"; }
    Mod+CTRL+W                          { move-column-to-workspace "web"; }
    Mod+CTRL+E                          { move-column-to-workspace "chat"; }
    Mod+CTRL+R                          { move-column-to-workspace "gaming"; }
    Mod+CTRL+T                          { move-column-to-workspace 5; }

    Mod+TAB                             { focus-workspace-previous; }


    // ─── Layout Controls ───
    Mod+CTRL+F                          { switch-preset-column-width; }
    Mod+CTRL+H                          { set-column-width "50%"; }
    Mod+CTRL+J                          { set-column-width "75%"; }
    Mod+CTRL+K                          { set-column-width "100%"; }

    Mod+M                               { fullscreen-window; }
    Mod+O                               repeat=false { toggle-overview; }


    // ─── Screenshots ───
    Mod+CTRL+Shift+1                        { screenshot; }
    Mod+CTRL+Shift+2                        { screenshot-screen; }
    Mod+CTRL+Shift+3                        { screenshot-window; }

    // ─── Universal Super ───
    Mod+A { spawn "wtype" "-M" "ctrl" "a" "-m" "ctrl"; }
    Mod+X { spawn "wtype" "-M" "ctrl" "x" "-m" "ctrl"; }
    Mod+C { spawn "wtype" "-M" "ctrl" "-k" "Insert" "-m" "ctrl"; }
    Mod+V { spawn "wtype" "-M" "shift" "-k" "Insert" "-m" "shift"; }
}
