binds {

    // ────────────── Keybindings ──────────────
    // https://github.com/YaLTeR/niri/wiki/Configuration:-Key-Bindings

    // ─── noctalia-shell keybinds ───
    // https://docs.noctalia.dev/getting-started/keybinds/
    
    // ─── Emergency Escape Key ───
    // Use this when a fullscreen app blocks your keybinds.
    // It disables any active keyboard shortcut inhibitor, restoring control.
    Mod+ESCAPE                          allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

    Mod+Shift+ESCAPE                    { show-hotkey-overlay; }
    ALT+Delete                          { quit; } // Also quits Niri
    Mod+Shift+P                         { power-off-monitors; }
    Mod+Return                          hotkey-overlay-title="Open App Launcher: noctalia launcher" { spawn-sh "qs -c noctalia-shell ipc call launcher toggle"; }
    Mod+Backspace                       hotkey-overlay-title="Session Menu: noctalia sessionMenu" { spawn-sh "qs -c noctalia-shell ipc call sessionMenu toggle"; }

    // ─── Applications ───
    Mod+Shift+T                         hotkey-overlay-title="Open Terminal" { spawn "ghostty"; }
    Mod+Shift+B                         hotkey-overlay-title="Open Browser" { spawn "brave"; }
    Mod+Shift+E                         hotkey-overlay-title="Open File Manager" { spawn "nautilus"; }
    Mod+Shift+S                         hotkey-overlay-title="Open Steam" { spawn "steam"; }
    Mod+Shift+D                         hotkey-overlay-title="Open Discord" { spawn "discord"; }
    Mod+Shift+G                         hotkey-overlay-title="Open Whatsapp" { spawn "Whatsapp"; }

    // ─── Audio Controls ───
    XF86AudioRaiseVolume                allow-when-locked=true { spawn-sh "qs -c noctalia-shell ipc call volume increase"; }
    XF86AudioLowerVolume                allow-when-locked=true { spawn-sh "qs -c noctalia-shell ipc call volume decrease"; }
    XF86AudioMute                       allow-when-locked=true { spawn-sh "qs -c noctalia-shell ipc call volume muteOutput"; }
    XF86AudioMicMute                    allow-when-locked=true { spawn-sh "qs -c noctalia-shell ipc call volume muteInput"; }

    // ─── Window Movement and Focus ───
    Mod+Shift+Q                         { close-window; }

    Mod+H                               { focus-column-left; }
    Mod+L                               { focus-column-right; }
    Mod+K                               { focus-workspace-up; }
    Mod+J                               { focus-workspace-down; }

    Mod+Left                            { move-column-left; }
    Mod+Right                           { move-column-right; }
    Mod+Up                              { move-column-to-workspace-up; }
    Mod+Down                            { move-column-to-workspace-down; }


    // ─── Workspace Switching ───
    Mod+WheelScrollDown                 cooldown-ms=150 { focus-workspace-down; }
    Mod+WheelScrollUp                   cooldown-ms=150 { focus-workspace-up; }
    Mod+CTRL+WheelScrollDown            cooldown-ms=150 { move-column-to-workspace-down; }
    Mod+CTRL+WheelScrollUp              cooldown-ms=150 { move-column-to-workspace-up; }

    Mod+WheelScrollRight                { focus-column-right; }
    Mod+WheelScrollLeft                 { focus-column-left; }
    Mod+CTRL+WheelScrollRight           { move-column-right; }
    Mod+CTRL+WheelScrollLeft            { move-column-left; }

    Mod+Q                               { focus-workspace 1; }
    Mod+W                               { focus-workspace 2; }
    Mod+E                               { focus-workspace 3; }
    Mod+R                               { focus-workspace 4; }
    Mod+T                               { focus-workspace 5; }
    Mod+Y                               { focus-workspace 6; }

    Mod+CTRL+Q                          { move-column-to-workspace 1; }
    Mod+CTRL+W                          { move-column-to-workspace 2; }
    Mod+CTRL+E                          { move-column-to-workspace 3; }
    Mod+CTRL+R                          { move-column-to-workspace 4; }
    Mod+CTRL+T                          { move-column-to-workspace 5; }
    Mod+CTRL+Y                          { move-column-to-workspace 6; }

    Mod+TAB                             { focus-workspace-previous; }

    // ─── Layout Controls ───
    Mod+CTRL+F                          { spawn "~/.config/niri/scripts/toggle-width.sh"; }
    Mod+CTRL+G                          { set-window-height "100%"; }
    Mod+CTRL+Shift+H                    { set-column-width "-10%"; }
    Mod+CTRL+Shift+J                    { set-window-height "+10%"; }
    Mod+CTRL+Shift+K                    { set-window-height "-10%"; }
    Mod+CTRL+Shift+L                    { set-column-width "+10%"; }

    // ─── Modes ───
    Mod+F                               { toggle-window-floating; }
    Mod+M                               { fullscreen-window; }
    Mod+O                               repeat=false { toggle-overview; }

    // ─── Screenshots ───
    CTRL+Shift+1                        { screenshot; }
    CTRL+Shift+2                        { screenshot-screen; }
    CTRL+Shift+3                        { screenshot-window; }
}
