layout {
  gaps 10
  center-focused-column "never"
  background-color "transparent"
  always-center-single-column true

  preset-column-widths {
    proportion 0.5
    proportion 0.75
    proportion 1.0
  }

  struts {}

  focus-ring {
    width 2
  }
}
